<!-- theory and practice page -->

<% if (category.title==="Collaborations" || category.title==="Collaboration" || category.title==="Teaching" || category.title==="Pédagogie" ) { %>

<% for (let year in category) { %>

<!-- each year box starts here  -->
<% if (year !=="title" && year !=="ticker" ) { %>

<div class="year-box">

  <!-- prints the year -->
  <p class="year-title">
    <%=category[year].year%>
  </p>

  <!-- loop through each practice ... -->
  <% for (let practice in category[year]) { %>
  <%let thisPractice=category[year][practice]%>

  <!--check for projects entries  -->
  <%  if (thisPractice.projects && Object.keys(thisPractice.projects).length > 0) { %>

  <!-- print the title of the practice -->
  <p class="practice-title bold">
    <%=thisPractice.title%>
  </p>

  <div class="practice-box">
    <!-- loop through each project entry -->
    <% for (let project in thisPractice.projects) { %>
    <% let thisProject=thisPractice.projects[project] %>

    <!-- check if there is a link -->
    <% if (thisProject.href) { %>
      <div class="credits-flex">
        <div class="flex-column">
          <a href="<%=thisProject.href%>">
            <p class="teaching-title underline subheading">
              <%=thisProject.title%>
            </p>
          </a>
          <p class="credits no-text-decoration">
            <%=thisProject.description%>
          </p>
        </div>

        </div>
      





      <!-- if no link ... -->
      <% } else {%>
      <p class="teaching-title subheading">
        <%=thisProject.title%>
      </p>
      <div class="credits credits-flex">
        <span>
          <%=thisProject.description%>
        </span>
      </div>

      <% } %>
      <% if (thisProject.src) { %>

      <img class="collab-img" src="<%=thisProject.src%>" alt="">

      <% } %>





    <% } %>
  </div>
  <% } %>

  <% } %>

</div>

<% }%>

<% } %>

<% } %>