<!-- theory and practice page -->

<% if (category.title==="Collaborations" || category.title==="Collaboration" ) { %>

  <% for (let year in category) { %>
    
    <!-- each year box starts here  -->
    <% if (year !=="title" && year !=="ticker" ) { %>

      <div class="year-box">
        
        <!-- prints the year -->
        <p>
          <%=category[year].year%>
        </p>
        
        <!-- loop through each practice ... -->
        <% for (let practice in category[year]) { %>
          <%let thisPractice=category[year][practice]%>
          
          <!--check for projects entries  -->
          <%  if (thisPractice.projects && Object.keys(thisPractice.projects).length > 0) { %>
          
            <!-- print the title of the practice -->
            <p>
              <%=thisPractice.title%>
            </p>
            
            <!-- loop through each project entry -->
            <% for (let project in thisPractice.projects) { %>
              <% let thisProject=thisPractice.projects[project] %>
              
              <!-- check if there is a link -->
              <% if (thisProject.href) { %>
                <a href="<%=thisProject.href%>">
                 
                    <div class="credits credits-flex">
                      <span class="no-text-decoration">
                        <%=thisProject.description%>
                      </span>
                        <span class="link-arrow">
                          &nbsp&nbsp&nbsp→
                        </span>
                    </div>
                        
                   

                 
                </a>
              </br>
              
              <!-- if no link ... -->
              <% } else {%>
                <div class="credits credits-flex">
                  <span>
                    <%=thisProject.description%>
                  </span>
                </div>
              </br>
              
              <% } %>
              
            <% } %>
              
          <% } %>

        <% } %>

      </div>

    <% }%>

  <% } %>

<% } %>