<% if (category.title==="Performance" ) { %>

  <% for (let perf in category) { %>

    <% if (perf !=="title" && perf !=="ticker" && perf !=="href" ) { %>

      <div class="show-box">
        <a href="<%=category.href%><%=perf%>">
          <p>
            <%=category[perf].title%> (<%=category[perf].year%>)&nbsp&nbsp&nbsp→
          </p>
        </a>
        <p class="credits">
          <%=category[perf].credits%>
        </p>
        <img class="performance-img" src="<%=category[perf].src%>" alt="">
      </div>


      <% } else { %>

        <% } %>

          <% } %>

            <% } %>