<% if (category.title==="Works" || category.title==="Création" ) { %>

  <% for (let work in category) { %>

    <% if (work !=="title" && work !=="ticker" && work !=="href" ) { %>

      <div class="show-box">
        <% if (category[work].href_ex) { %>
          <a href="<%=category[work].href_ex%>">

       <% } else { %>
        <a href="<%=category.href%><%=work%>">

      <%  } %>


          <p>
            <div class="flex work-flex">
            <span><%=category[work].title%> (<%=category[work].year%>)</span><span class="link-arrow">&nbsp&nbsp&nbsp⮕</span>
            </div>
          </p>
          <p class="credits credits-works">
            <%=category[work].credits%>
          </p>
          <img class="works-img" src="<%=category[work].src%>" alt="">
        </a>
      </div>


      <% } else { %>

        <% } %>

          <% } %>

            <% } %>