<% if (category.title==="Works" || category.title==="Création" ) { %>

<% for (let work in category) { %>

<% if (work !=="title" && work !=="ticker" && work !=="href" ) { %>

<div class="show-box">

  <div class="flex-column work-flex">
    <% if (category[work].href_ex) { %>
    <a href="<%=category[work].href_ex%>">

      <% } else { %>
      <a href="<%=category.href%><%=work%>">

        <%  } %>


        <p class="underline subheading"><%=category[work].title%></p>
      </a>
        <p class="no-text-decoration bold">

          <%=category[work].year%>
        </p>
      <p class="credits credits-works">
        <%=category[work].credits%>
      </p>

  </div>
  </p>
  <% if (category[work].src) { %>
  <% if (category[work].href_ex) { %>
  <a href="<%=category[work].href_ex%>">

    <% } else { %>
    <a href="<%=category.href%><%=work%>">

      <%  } %>
      <img class="works-img" src="<%=category[work].src%>" alt="">
    </a>
    <% } %>
</div>


<% } else { %>

<% } %>

<% } %>

<% } %>