<%- include ('partials/_head.ejs') %>

<div class="category-body">

  <!-- ticker tape -->
  <div class="ticker-wrap">
    <div class="ticker">
      <% for (let i = 0; i < 20; i++) { %>

        <div class="ticker__item"> <%=category.ticker%> </div>

      <% } %>
    </div>
  </div>

  <!-- content box -->
  <div class="content-box">

  <!-- bio page -->
    <% if (category.title === "Bio" && category.text) { %>
      
        <% for (let i=0; i < category.text.length; i++) { %>
          
          <% if (category.text[i].href) { %>

            <div class="p-box p-box__link">
              <a href="<%=category.text[i].href%>">
                <p><%=category.text[i].p%></p>
              </a>
            </div> 
            
            
            <% } else { %>
              
              <div class="p-box">
                  <p><%=category.text[i].p%></p>
              </div> 
              

          <%  } %>

      
        <% } %>
      
    <% } %>

    <% if (category.title === "Performance") { %>
      
        <% for (let perf in category) { %>
          
          <% if (perf !== "title" && perf !== "ticker" && perf !== "href") { %>

              <div class="show-box">
                <img class="performance-img" src="<%=category[perf].src%>" alt="">
                 <a href="<%=category.href%><%=perf%>">
                  <p><%=category[perf].title%> (<%=category[perf].year%>)</p>
                 </a>
                <p class="credits"><%=category[perf].credits%></p>
              </div>
            
            
            <% } else { %> 

          <%  } %>

        <% } %>
      
    <% } %>

  <!--end content box  -->
  </div>
<!-- end category-body-->
</div>

<!-- language button  -->
<div id="button-box"class="button-box button-box__cat">
  <div >
    <form id="langForm" method="GET">
      <button class="language-button language-button__cat" type="button submit" >
        <p id="langButton"></p>
      </button>
    </form>
  </div>
</div>


<%- include ('partials/_foot.ejs') %>