<%- include ('partials/_head.ejs') %>

<div class="category-body">

  <!-- ticker tape -->
  <div class="ticker-wrap">
    <div class="ticker">
      <% for (let i = 0; i < 20; i++) { %>

        <div class="ticker__item"> <%=category.ticker%> </div>

      <% } %>
    </div>
  </div>

  <!-- content box -->
  <div class="content-box">

  <!-- bio page -->
  
  <%- include ('partials/_bio.ejs') %>

    <!-- performances page -->

    <%- include ('partials/_performances.ejs') %>
    

    <!-- theory and practice page -->

    <%- include ('partials/_theoryAndPractice.ejs') %>

  <!--end content box  -->
  </div>
<!-- end category-body-->
</div>

<!-- language button  -->
<div id="button-box"class="button-box button-box__cat">
  <div class="button-box__flex flex" >
    <div id="button-box__home" class="buttons-left">

    </div>
    
    <div class="buttons-right">
      <form id="homeButton" method="GET">
        <button class="menu-button menu-button__home menu-button__cat" type="button submit" >
          <p id="">🏠</p>
        </button>
      </form>
      <form id="langForm" method="GET">
        <button class="menu-button menu-button__lang menu-button__cat" type="button submit">
          <p id="langButton"></p>
        </button>
      </form>
    </div>
</div>


<%- include ('partials/_foot.ejs') %>

